.DS_Store
.grunt/
*.pyc
*.sublime-workspace
api/FiberVerification.Editing.Api/.nuget/
api/FiberVerification.Editing.Api/connections.Release.config
api/FiberVerification.Editing.Api/connections.Stage.config
create_permission_db.json
deploy/
deploy/fiberVerification_update.zip
deploy/fiberVerification.zip
dist/
node_modules/
secrets.json
src/agrc-jasmine-matchers/
src/agrc/
src/bootstrap/
src/components-jasmine/
src/dgrid/
src/dijit/
src/dojo-themes/
src/dojo/
src/dojox/
src/dstore/
src/esri/
src/favico.js/
src/ijit/
src/jasmine-favicon-reporter/
src/jasmine-jsreporter/
src/jquery/
src/ladda-bootstrap/
src/layer-selector/
src/moment/
src/mustache/
src/put-selector/
src/sherlock/
src/spin.js/
src/spinjs
src/stubmodule/
src/util/
src/xstyle/
