*.pyc
*.sublime-workspace
.DS_Store
.grunt/
api/FiberVerification.Editing.Api/.nuget/
api/FiberVerification.Editing.Api/connections.Release.config
api/FiberVerification.Editing.Api/connections.Stage.config
deploy/fiberVerification.zip
dist/
node_modules/
src/agrc/
src/bootstrap/
src/dijit/
src/dojo/
src/dojox/
src/esri/
src/favico.js/
src/ijit/
src/jasmine-favicon-reporter/
src/jquery/
src/spinjs
src/stubmodule/
src/util/
create_permission_db.json
deploy/fiberVerification_update.zip