<div>
    <div class='info navbar-left'>Update selected areas to: </div>
    <div class="btn-group nav-item navbar-left">
        <button type="button" value="1" data-dojo-attach-event='click: submit' class="btn btn-success">Available within 1 month</button>
        <button type="button" value="9" data-dojo-attach-event='click: submit' class="btn btn-primary">Available within 9 months</button>
        <button type="button" value="0" data-dojo-attach-event='click: submit' class="btn btn-warning">No service</button>
    </div>
    <button data-dojo-attach-event='click: cancel'
        type="button" class="btn btn-default nav-item navbar-left">Cancel</button>
</div>